<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @step.content %>
</p>

<p>
  <strong>List:</strong>
  <%= @step.list %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
